/* Write your CSS here */

.bg-color {
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
}

.name-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  width: 90%;
  padding-left: 30px;
  margin-bottom: 15px;
  background-size: cover;
}

.name-heading {
  font-family: Roboto;
  font-size: 45px;
  color: #000000;
  margin-bottom: 15px;
}

.name-paragraph {
  font-family: Roboto;
  font-size: 20px;
  color: #475569;
  margin-bottom: 15px;
}

.span {
  color: #0b69ff;
}

.ul-list-container {
  display: flex;
  width: 90%;
  margin-bottom: 15px;
  justify-content: space-between;
  padding: 0px;
  background-color: blue;
}

.from-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  background-color: red;
  width: 30%;
}

.from {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.from-heading {
  font-family: Roboto;
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.label {
  font-family: Roboto;
  font-size: 15px;
  color: #475569;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 40px;
  font-family: Roboto;
  color: #7e858e;
  font-size: 15px;
  background-color: #cbd5e1;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #475569;
}

.add-Button {
  width: 80px;
  height: 70px;
  background-color: #0b69ff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #ffffff;
  font-family: Roboto;
}

.history-container {
  background-color: transparent;
  border: 1px solid #475569;
  border-radius: 10px;
}

.history-un-list {
  width: 90%;
}

.history-heading {
  font-family: Roboto;
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
  width: 90%;
}

.list-top {
  width: 100%;
  border: 1px solid hsl(215, 19%, 35%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.box-top-name {
  font-family: Roboto;
  font-size: 15px;
  color: #000000;
  margin-right: 15px;
  font-weight: bold;
}
