/* Write your CSS here */
.list-items {
  width: 100%;
  border: 1px solid hsl(215, 19%, 35%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: none;
}

.list-name {
  font-family: Roboto;
  font-size: 15px;
  color: #334155;
  margin-right: 15px;
}

.img-delete {
  height: 30px;
}
